@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img[src="assets/images/green-leaf-background.jpg"]{
    margin: -10px;
    display: flex;
}

img[src="assets/images/odin-icon.png"], 
img[src="assets/images/odin-icon.png"]+p, 
.credit-text, 
.semi-transparent, 
.right .topright,
.right .topright p,
.right .midright,
.right .bottomright, 
.right .bottomright p,
.bottomright button{
    position: absolute;
}

.semi-transparent, .credit-text{
    z-index: 1;
}

img[src="assets/images/odin-icon.png"], .odin-text{
    z-index: 2;
}

img[src="assets/images/odin-icon.png"]{
    top: 140px;
    left: 130px;
}

.odin-text{
    top: 100px;
    left: 200px;
    color: white;
    font-family: 'norse-bold', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.semi-transparent{
    width: 431px;
    height: 120px;
    top: 130px;
    left: -10px;
    background-color: black;
    opacity: 0.5;
}

.credit-text{
    font-size: 10px;
    top:615px;
    left: 115px;
    color: white;
}

.credit-text>a{
    color: white
}

.right .topright {
    position: absolute;
    width: 975px;
    height: 200px;
    left: 421px;
}

.right .topright>p{
    font-weight: bold;
    top: 60px;
    left: 50px;
    width: 500px;
}

.right .topright>p#sign-up{
    font-weight: bold;
    top: 100px;
    left: 50px;
}

.right .topright>p#motivation{
    font-weight: bold;
    top: 140px;
    left: 50px;
}


.right .bottomright{
    position: absolute;
    width: 975px;
    height: 232px;
    top: 400px;
    left: 421px;
}

#submit-button{
    top: 30px;
    left: 40px;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #596D48;
    border-radius: 4px;
    border: 0px;
}

.right .bottomright p{
    font-size: 12px;
    left: 40px;
    top: 80px;
}

.right .bottomright a{
    text-decoration: none;
    color: #596D48;
}