@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

:root{
    --bg-light-gray: #f6f6f6;
}

p, label{
    font-family: Arial, Helvetica, sans-serif;
}

img[src="assets/images/green-leaf-background.jpg"]{
    margin: -10px;
    display: flex;
}

img[src="assets/images/odin-icon.png"], 
img[src="assets/images/odin-icon.png"]+p, 
.credit-text, 
.semi-transparent, 
.right .topright,
.right .topright p,
.right .midright,
.right .midright p,
.right .midright form,
.right .bottomright, 
.right .bottomright p,
.bottomright button{
    position: absolute;
}

.semi-transparent, .credit-text{
    z-index: 1;
}

img[src="assets/images/odin-icon.png"], .odin-text{
    z-index: 2;
}

img[src="assets/images/odin-icon.png"]{
    top: 140px;
    left: 130px;
}

.odin-text{
    top: 100px;
    left: 200px;
    color: #ffffff;
    font-family: 'norse-bold', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.semi-transparent{
    width: 431px;
    height: 120px;
    top: 130px;
    left: -10px;
    background-color: #000000;
    opacity: 0.5;
}

.credit-text{
    font-size: 10px;
    top:615px;
    left: 115px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif
}

.credit-text>a{
    color: #ffffff;
}

.right .topright {
    position: absolute;
    width: 975px;
    height: 200px;
    left: 421px;
    background-color: var(--bg-light-gray);
}

.right .topright>p{
    font-weight: bold;
    top: 60px;
    left: 50px;
    width: 500px;
}

.right .topright>p#sign-up{
    font-weight: bold;
    top: 100px;
    left: 50px;
}

.right .topright>p#motivation{
    font-weight: bold;
    top: 140px;
    left: 50px;
}

.midright p{
    top: 200px;
    left: 465px;
    width: 200px;
    font-weight: bold;
}

.midright form{
    top: 240px;
    left: 450px;
    display: flex;
    justify-content: center;
    gap: 64px;
    border: 0px;
}

.midright form fieldset{
    border: 0px;
}

.midright form fieldset input{
    width: 250px;
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}


.midright form fieldset input:focus{
    outline: none;
    width: 250px;
    border: 1px solid #0055ff;
    box-shadow: 1px 1px 2px 0px #000000;
    border-radius: 4px;
}

.midright form fieldset input#password:invalid, .midright form fieldset input#confirm-password:invalid{
    border-color: #f00;
}

.midright form label{
    font-size: 11px;
}


.right .bottomright{
    position: absolute;
    width: 975px;
    height: 232px;
    top: 400px;
    left: 421px;
    background-color: var(--bg-light-gray);
}

#submit-button{
    top: 30px;
    left: 55px;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #596D48;
    border-radius: 4px;
    border: 0px;
}

.right .bottomright p{
    font-size: 12px;
    left: 55px;
    top: 80px;
}

.right .bottomright a{
    text-decoration: none;
    color: #596D48;
}